extends ../layout

block content
    h1.page-header= title
      | 
      div.pull-right
        a.btn.btn-success(href="/manage/users/add")
          i.fa.fa-plus 
          |  Add New
    p.page-subheader All you need to manage your users
    if users
      .dataTable_wrapper
        table.table-listing.table.table-striped.table-bordered.table-hover
          thead
            tr
              th(width='30%') Name
              th(width='30%') Username
              th(width='30%') email
              th(width='10%') Actions
          tbody
            each user, i in users
              tr.odd.gradeX
                td #{user.name}
                td #{user.username}
                td #{user.email}
                td(align='center')
                  a(href='/manage/users/#{user._id}', class='btn btn-warning btn-circle', title='Edit User')
                      i.fa.fa-pencil 
                  |  
                  a(href='/manage/users/remove/#{user._id}', class='btn btn-danger btn-circle', title='Remove User')
                      i.fa.fa-remove 
        // /.table-responsive